<div class="box">
    <img src="pink.jpg" alt="Voucher Background" loading="lazy" class="background-image"/>
    <div class="form1"><div class="user">.</div></div>
    <div class="form2"><div class="user">${code}</div></div>
    <div class="form3"><div>${price}</div></div>
    <div class="form4"><div>${name}</div></div>
    <div class="form5"><div>UPTIME: ${uptime}</div></div>
    <div class="form6"><div>VALIDITY: ${validity}</div></div>
    <div class="form7"><div>SPEED: ${speed}</div></div>
</div>