<div class="voucher-box">
    <img src="file:///placeholder" alt="Voucher Background" loading="lazy" class="voucher-background"/>
    <div class="voucher-price" style="top: 32%; right: 84%;">${price}</div>
    <div class="voucher-name" style="top: 1%; left: 32%;">${name}</div>
    <div class="voucher-uptime" style="top: 12%; left: 15%;">UPTIME: <strong> ${uptime} </strong></div>
    <div class="voucher-validity" style="top: 20%; left: 35%;">VALIDITY: <strong> ${validity}</strong></div>
    <div class="voucher-speed" style="top: 12%; right: 15%;">SPEED: <strong>${speed}</strong></div>
    <div class="voucher-code" style="bottom: 15%; left: 12%;">${code}</div>
</div>